<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Error 500</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
        body {
            background-image: url("../static/bg-grid.png");
            color: white;
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
        }
    </style>
</head>

<body class="flex justify-center items-center h-screen w-full flex-col">
    <h1 class="text-[240px] pb-8">5<span class="text-[#2cff8f]">0</span>0</h1>
    <p>Internal Server Error.
        <a class="underline color-" href="/home">Back</a>
    </p>
</body>

</html>