<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Today in this blog you will learn how to create a responsive Login & Registration Form in HTML CSS & JavaScript." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Signup Form HTML CSS | CodingNepal</title>
    <link rel="stylesheet" href="assets/css/login_style.css" />
    <script src="../custom-scripts.js" defer></script>
  </head>
  <body>
    <section class="wrapper">
      <div class="form signup">
        <header>Signup</header>
        <form id="signupForm" action="/member/register" method="POST">
          <input name="phone" type="text" placeholder="Phone Number" required>
          <input name="name" type="text" placeholder="Full name" required />
          <input name="register-email" type="email" placeholder="Email address" required />
          <input name="register-password" type="password" placeholder="Password" required />
          <div class="checkbox">
            <input type="checkbox" id="signupCheck" required/>
            <label for="signupCheck">I accept all terms & conditions</label>
          </div>
          <input type="submit" />
        </form>
      </div>

      <div class="form login">
        <header>Login</header>
        <form id="loginForm" action="/member/login" method="POST">
          <input name="login-email" type="email" placeholder="Email address" required />
          <input name="login-password" type="password" placeholder="Password" required />
          <a href="#">Forgot password?</a>
          <input type="submit" />
        </form>
      </div>

      <script>
        const wrapper = document.querySelector(".wrapper"),
          signupHeader = document.querySelector(".signup header"),
          loginHeader = document.querySelector(".login header"),
          signupForm = document.getElementById("signupForm"),
          loginForm = document.getElementById("loginForm");

        loginHeader.addEventListener("click", () => {
          wrapper.classList.add("active");
        });

        signupHeader.addEventListener("click", () => {
          wrapper.classList.remove("active");
        });
      </script>
    </section>
  </body>
</html>
